.swiper {
    width: 100%;
    height: 572px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 82px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-scrollbar {
    opacity: 1!important;
    background-color: #57585A;
}

.swiper-scrollbar-drag {
    background: #FFF!important;
}

@media screen and (max-width:768px) {
    .swiper {
        height: 256px;
    }
    .swiper-slide {
        margin-top: 0;
    }
}